
  <div class="container">
  <div class="row">
        <hr class="hr-primary"/>
        <ol class="breadcrumb bread-primary ">
          <button href="#" class="btn btn-primary"><i class="fa fa-newspaper-o"></i> About</button>
            <li><a href="#">Thông tin nhóm</a></li>
            <li class="active">Thông tin chi tiết</li>
        </ol>
    </div>
</div>



	<div class="container">
    <div class="row">
        <div class = "col-sm-12">
          <div class="jumbotron text-center">
            <h1>Welcome to the BoyGirl's website</h1>
          </div>    
          <div class="row">
              <div class="col-md-3 col-md-offset-1">
                <div class="thumbnail">
                    <img src="img/1412595.jpg" alt="...">
                      <div class="caption">
                        <h2>Võ Thị Thanh Trúc</h2>
                        <h4>MSSV: 1412595</h4>
                        <p>Quê quán: Tiền Giang</p>
                        <p>Điện thoại: 0166 816 8279</p>        
                      </div>            
                </div>
             </div>
             
            <div class="col-md-3 col-md-offset-4">
                <div class="thumbnail">
                    <img src="img/1412553.jpg" alt="...">
                      <div class="caption">
                        <h2>Dương Minh Toàn</h2>
                        <h4>MSSV: 1412553</h4>
                        <p>Quê quán: Phú Yên</p>
                        <p>Điện thoại: 0164 6821 1073</p>        
                      </div>            
                </div>
             </div>
          </div>
        </div>
		</div>
	</div>
