<div class="container">
    <div class="row">

      <div class="col-lg-12" class="pull-left">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Users</a></li>
            <li class="breadcrumb-item active">Page 1</li>
          </ol>
      </div>

      <div class="col-lg-12" class="pull-left">
      <div class="media">
          <a class="pull-left" href="#">
            <img class="media-object" src="img/1412595.jpg" alt="..." width="150" height="130">
          </a>
          <div class="media-body">
            <h3><a href="#Thông tin về Truc Vo"> Truc Vo </a></h3>
            <h6> 18/04/1996 </h6>
            <p> Khoa học tự nhiên</p>
            <a class="btn btn-outline-success" href="#"><span class="glyphicon glyphicon-ok"></span> Đã là bạn </a>
            <a class="btn btn-success" href="#"><span class="glyphicon glyphicon-comment"></span> Trò chuyện </a>
            <a class="btn btn-primary" href="#"><span class="glyphicon glyphicon-earphone"></span> Gọi </a>
            <a class="btn btn-warning" href="#"> Chặn <span class="glyphicon glyphicon-ban-circle"></span></a>
            <a class="btn btn-danger" href="#"> Hủy kết bạn <span class="glyphicon glyphicon-remove"></span></a>
            <p></p>
            <hr>

      </div>
      </div>
      </div>

     <div class="col-lg-12" class="pull-left">
      <div class="media">
          <a class="pull-left" href="#">
            <img class="media-object" src="img/1412595.jpg" alt="..." width="150" height="130">
          </a>
          <div class="media-body">
            <h3><a href="#Thông tin về Thanh Ngân"> Thanh Ngan </a></h3>
            <h6> 23/06/1996 </h6>
            <p> Khoa học tự nhiên</p>
            <a class="btn btn-primary" href="#"><span class="glyphicon glyphicon-plus"></span> Kết bạn </a>
            <p></p>
            <hr>

      </div>
      </div>
      </div>

      <div class="col-lg-12" class="pull-left">
      <div class="media">
          <a class="pull-left" href="#">
            <img class="media-object" src="img/1412553.jpg" alt="..." width="150" height="130">
          </a>
          <div class="media-body">
            <h3><a href="Thông tin về Toan Duong"> Toan Duong </a></h3>
            <h6> 29/04/1996 </h6>
            <p> Khoa học tự nhiên</p>
            <a class="btn btn-outline-success" href="#"><span class="glyphicon glyphicon-ok"></span> Đã là bạn </a>
            <a class="btn btn-success" href="#"><span class="glyphicon glyphicon-comment"></span> Trò chuyện </a>
            <a class="btn btn-primary" href="#"><span class="glyphicon glyphicon-earphone"></span> Gọi </a>
            <a class="btn btn-warning" href="#"> Chặn <span class="glyphicon glyphicon-ban-circle"></span></a>
            <a class="btn btn-danger" href="#"> Hủy kết bạn <span class="glyphicon glyphicon-remove"></span></a>
            <p></p>
            <hr>

      </div>
      </div>
      </div>

      <div class="col-lg-12" class="pull-left">
      <div class="media">
          <a class="pull-left" href="#">
            <img class="media-object" src="img/1412595.jpg" alt="..." width="150" height="130">
          </a>
          <div class="media-body">
            <h3><a href="#Thông tin về Bao Ngoc"> Bao Ngoc </a></h3>
            <h6> 16/04/1995 </h6>
            <p> Citi Bank</p>
            <a class="btn btn-outline-success" href="#"><span class="glyphicon glyphicon-ok"></span> Đã là bạn </a>
            <a class="btn btn-success" href="#"><span class="glyphicon glyphicon-comment"></span> Trò chuyện </a>
            <a class="btn btn-primary" href="#"><span class="glyphicon glyphicon-earphone"></span> Gọi </a>
            <a class="btn btn-warning" href="#"> Chặn <span class="glyphicon glyphicon-ban-circle"></span></a>
            <a class="btn btn-danger" href="#"> Hủy kết bạn <span class="glyphicon glyphicon-remove"></span></a>
            <p></p>
            <hr>

      </div>
      </div>
      </div>


</div>
</div>